html, body{
    margin: 0;
    padding: 0;
    height: 70%;
}

h1{
    color: #10654e;
}

.form-card{
    width: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #ebebeb;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.form-input p{
    margin: 0;
}

.form-input span{
    display:inline-block;
    margin-bottom: 10px;
    width: 100%;
}

.form-input #image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-input #description{
    height: 50%;
}

.categories{
    height: 300px;
    overflow-y: scroll;
    background-color: white;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    column-count: 2;
    margin-bottom: 10px;
}

.categories ul{
    list-style: none;
}

.categories span{
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

#time{
    width: 100px;
}

#ingredients{
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    background-color: white;
    padding-top: 10px;
}

#ingredients ul{
    list-style: none;
    padding-left: 10px;
}

#ingredients li{
    margin-bottom: 20px;
}
