{% extends 'tasties_app/base.html' %}
{% load static %}
{% block css %}
    {% load bootstrap_icons %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/recipes.css' %}" />
{% endblock %}
{% block content %}
    {% block categories_block %}
        <div class="container-fluid bg-light d-flex justify-content-center" id="category_btn_container">
            <form method="get" action="{% url 'recipes' %}">
                <button type="submit" class="btn" name="category" value="remove_filter" id="remove_filter">Remove Filter</button>
            </form>
            <form method="get" action="{% url 'recipes' %}"  class="form_button">
                <ul class="list-group list-group-horizontal list-unstyled" id="ul_categories">
                {% for i in categories_list %}
                    <li class="list-group-item-sm">
                        <button type="submit" class="btn" name="category" value="{{i}}" id="category_btn">{{i}}</button>
                    </li>
                {% endfor %}
                </ul>
            </form>
        </div>
    {% endblock categories_block %}
    <div class="grid">
    <div class="row">
    {% for recipe in recipes_list %}
      <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <a href="/view_recipe/{{ recipe.id }}/">
            <div class="card">
              <img
                class="card-img-top"
                src="{% static recipe.recipe_picture %}"
                alt="{{ recipe.title }}"
              />

              <div class="card-body">
                <h2 class="card-title">{{ recipe.title }}</h2>
                <p class="card-text text-truncate-container">
                  {{ recipe.description }}
                </p>
                <div class="card-footer">
                  <span class="minutes">{% bs_icon 'clock-history' %} {{ recipe.minutes_to_make }} mins</span>
                  <span class="rating">{% bs_icon 'star-fill' %} {{ recipe.recipe_rating | floatformat:2 }}</span>
                </div>
              </div>
            </div>
        </a>
      </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}
