<!DOCTYPE html>
<html>
<head>
	<title>Tasties</title>
</head>
<body>
	<center><u><h1>Welcome to Tasties!</h1></u></center>
	<h2>
	<p>
		Tasties is a platform for sharing and getting the best recieps that everyone can make.<br>
		You can get and see feedbacks from Tasties community and by that improve your cooking skills and recieps.<br><br>
		Dont know what to choose?<br>
		In our platform you can search receips by your ingredients you like and rate the recipe so others can enjoy too.
	</p>
	</h2>


</body>
</html>
